@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 8% 12%;
    --card: 0 0% 98%;
    --card-foreground: 240 8% 12%;
    --popover: 0 0% 96%;
    --popover-foreground: 240 8% 12%;
    --primary: 220 20% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 18% 90%;
    --secondary-foreground: 240 8% 12%;
    --muted: 220 18% 90%;
    --muted-foreground: 240 8% 50%;
    --accent: 340 80% 70%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 75% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 12% 80%;
    --input: 240 12% 80%;
    --ring: 220 12% 30%;
    --radius: 0.75rem;
    --chart-1: 25 80% 55%;
    --chart-2: 200 65% 40%;
    --chart-3: 180 40% 25%;
    --chart-4: 45 85% 55%;
    --chart-5: 350 90% 60%;

    --sh-identifier: #4a5568;
    --sh-keyword: #e53e3e;
    --sh-string: #38b2ac;
    --sh-class: #805ad5;
    --sh-property: #2b6cb0;
    --sh-entity: #319795;
    --sh-jsxliterals: #d53f8c;
    --sh-sign: #718096;
    --sh-comment: #a0aec0;
  }

  .dark {
    --background: 240 12% 15%;
    --foreground: 0 0% 98%;
    --card: 240 12% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 12% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 25% 85%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3% 20%;
    --muted-foreground: 220 10% 65%;
    --accent: 340 60% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 30%;
    --input: 240 5% 30%;
    --ring: 240 10% 75%;
    --chart-1: 220 70% 60%;
    --chart-2: 170 60% 50%;
    --chart-3: 35 85% 60%;
    --chart-4: 290 70% 65%;
    --chart-5: 350 80% 65%;

    --sh-class: #63b3ed;
    --sh-identifier: #e2e8f0;
    --sh-keyword: #e53e3e;
    --sh-string: #38b2ac;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .title {
    @apply font-serif text-3xl font-bold underline decoration-border/75 decoration-2 underline-offset-8;
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg bg-accent px-5 py-4 text-sm;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }

  .prose pre code {
    @apply p-0;
    line-height: 1.75;
  }

  .prose code span {
    @apply font-medium;
  }
    /* Styl dla navbaru w trybie light */
    .navbar {
      @apply bg-gray-200 text-black; /* Ciemniejszy navbar w light mode */
    }

    /* Styl dla navbaru w trybie dark */
    .dark .navbar {
      @apply bg-gray-800 text-white; /* Jaśniejszy navbar w dark mode */
    }
}
